.cart{
    height: 723px;
    width: 648px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item{
    display: flex;
    gap: 5px;
}

.main{
    background: #F4F4F4;
    width: 100%;
    height: 696px;
    border-radius: 8px;
}