.cart {
  height: 723px;
  width: 648px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__item {
  display: flex;
  gap: 5px;

  div {
    display: flex;
    align-items: center;
  }
}

.main {
  display: none;
  background: #f4f4f4;
  max-width: 100%;
  height: 696px;
  border-radius: 8px;
  color: #060606;
  transition: all 0.3s;
}

.main.active {
  display: block;
}

.main__border-bottom {
  border-bottom: 1px solid black;
  width: 100%;
}

.header__item-arrowRight {
  transform: rotate(180deg);
}

.header__item {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.item__selected {
  opacity: 50%;
  cursor: default;
}
.main__content {
  display: flex;
  margin: 30px 0 20px 30px;
}

.main__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.main__images-img {
  img {
    border-radius: 8px;
  }
}
.main__images-btn {
  button {
    cursor: pointer;
    width: 279px;
    height: 50px;
    background: #060606;
    color: #fefefe;
    border-radius: 8.11px;
    font-size: 12px;
    line-height: 15.76px;
    font-family: "TT Firs Neue";
    font-weight: 700;
    border: none;
    box-shadow: 0px 3.91px 5.48px 0px #00000008;
  }
}
.main__text {
  color: #060606;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  .main__logo {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
  }
  .main__border {
    border-bottom: 1px solid black;
  }
}

.main__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .main__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .main__FIO {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .main__post {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;

    color: #455773;
  }
}

.main__info-more {
  height: 364px;
  width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  display: flex;
}
.inf {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main__social {
  padding: 25px 30px 30px 30px;

  .main__social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-item {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

// company Page

.company__header {
  border-bottom: 1px solid black;
  margin-top: 70px;
}

.company__main {
  height: 480px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.company__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  
}
.company__logo-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .company__logo-name {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    

  }

  .company__logo-description {
    font-family: TT Firs Neue;
    font-size: 14px;
    line-height: 16.8px;
    text-align: left;
    font-weight: 600;
    
  }
}
.company__logo-title {
  display: inline;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: center;
  text-shadow: 0px 4px 4px 0px #00000040;
}
