@font-face {
    font-family: 'TTRegular';
    src: url('./TTRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'TTBold';
    src: url('./TTBold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'TTMedium';
    src: url('./TTMedium.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'TTLight';
    src: url('./TTLight.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'TTExtraBold';
    src: url('./TTExtraBold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'TTThin';
    src: url('./TTThin.ttf') format('truetype');
    
  }